.secondNav {
    display: flex;
    justify-content: space-between;
    font-family: var(--thirdfont);
    font-weight: 100;
}

.secondNav ul li {
    list-style: none;
    font-size: 2rem;
    text-align: end;
}

.secondNav li:hover {
    list-style: none;
    color: var(--colororange);
    list-style: disc;
}