.testcontainer {
    margin-top: 5%;
    display: flex; /* Centrage vertical */
    white-space: nowrap;
    position: relative;
overflow: clip;
display: flex;
flex-direction: column;


}


.boxscroll {

    display: flex;
    align-items: center;
    gap: 100px;
    white-space: nowrap();
    transform: translateX(0); 
    flex-wrap: nowrap;
    opacity: 0;
    animation: scrollleft;
    animation-timeline: view();
    animation-range-start: 200px;
    font-family: var(--thirdfont);
    font-size: clamp(4rem, 2.2166rem + 8.1529vw, 12rem);
}

.boxscroll h1 span {
 color: var(--colororange);
}

.boxscroll:nth-child(even) {
    opacity: 0;

    transform: translateX(50%); 
    animation: scrollright;
    animation-timeline: view();


}

@keyframes scrollright {
    from {
        opacity: 0;
        transform: translateX(50%);
    }
    to {
        opacity: 1;
        transform: translateX(-100%);
    }
}

@keyframes scrollleft {
    from {
        opacity: 0;
        transform: translateX(-150%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

.boxscroll img {
    rotate: -90deg;
    animation: rotation;
    animation-timeline: view();
}

@keyframes rotation {
    to {
        rotate: 280deg
    }
}